@import "../../assets/scss/variables.scss";

body{
    font-family: centrale_sans !important;
    .v-application{
        font-family: centrale_sans !important;
        .text-subtitle-1,.title,.subtitle-1,.v-application .display-1{
            font-family: centrale_sans !important;
        }
    }
}

.v-input input {
    color: #212121 !important
}         
.v-application .primary {
    background-color: $blue !important;
}

.c-p {
    cursor: pointer !important;
}

.header-text {
font-size:$header-text-font-size
}

.text-align-justify{
    text-align: justify !important;
}
.theme--light.v-application {
    background: $containerBgColor;
}