.v-application .primary {
    background-color: $blue !important;
}

.c-p {
    cursor: pointer !important;
}

.header-text {
font-size:$header-text-font-size
}

.text-align-justify{
    text-align: justify !important;
}
.theme--light.v-application {
    background: $containerBgColor;
}