.v-application .primary {
    background-color: $blue !important;
}

.c-p {
    cursor: pointer !important;
}

.header-text {
    font-size:$header-text-font-size
}

.homeimage{
    margin: auto;
    height: 38vh;
}

.homePageText{
    font-size: 18px;
    font-weight: 500;
}
.primaryButton{
    @include primaryButton;
}